//
// Buttons
// --------------------------------------------------

@if $use-buttons == true {

    // Button Structure
    #{$use-prefix}btn {
        @include button-structure(0, $base-font-size, 4px 12px);
        // margin-bottom: 0;
        line-height: $base-line-height;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;

        @if $legacy-support == true {
            *border: 0;
            &::-moz-focus-inner {
                padding: 0;
                border: 0;
            }
            *padding-top: 3px;
            *padding-bottom: 3px;
            @include legacy-inline-block();
            @include legacy-restore-left-whitespace();
            &#{$use-prefix}btn-extra,
            &#{$use-prefix}btn-large {
                *padding-top: 7px;
                *padding-bottom: 7px;
            }
            &#{$use-prefix}btn-small {
                *padding-top: 3px;
                *padding-bottom: 3px;
            }
            &#{$use-prefix}btn-mini {
                *padding-top: 1px;
                *padding-bottom: 1px;
            }
        }

        // Hover/focus state
        &:hover,
        &:focus {
            @if $use-animations == true {
                @include transition(all linear 0.2s);
            }
            color: $white;
        }

        // Focus state for keyboard and accessibility
        &:focus {
            @include tab-focus();
        }

        // Active state
        &:active {
            outline: 0;
            color: $white;
        }

        // Disabled state
        &#{$use-prefix}btn-disabled,
        &[disabled] {
            cursor: default;
            background: $btn-disable-color !important;
            @include opacity(0.65);
            &:hover, &:focus {
                cursor: default;
            }
        }
    }

    // Button Sizes
    // --------------------------------------------------

    // Extra Large
    #{$use-prefix}btn-extra { @include button-structure(0, $font-size-large * 2 , 18px 26px); }
    #{$use-prefix}btn-extra [class^="icon-"],
    #{$use-prefix}btn-extra [class*=" icon-"] {
        margin-top: 11px;
    }

    // Large
    #{$use-prefix}btn-large { @include button-structure(0, $font-size-large, 11px 19px); }
    #{$use-prefix}btn-large [class^="icon-"],
    #{$use-prefix}btn-large [class*=" icon-"] {
        margin-top: 4px;
    }

    // Small
    #{$use-prefix}btn-small { @include button-structure(0, $font-size-small, 2px 10px); }
    #{$use-prefix}btn-small [class^="icon-"],
    #{$use-prefix}btn-small [class*=" icon-"] {
        margin-top: 0;
    }

    // Mini
    #{$use-prefix}btn-mini { @include button-structure(0, $font-size-large, 0px 6px); }
    #{$use-prefix}btn-mini [class^="icon-"],
    #{$use-prefix}btn-mini [class*=" icon-"] {
        margin-top: -1px;
    }

    // Block button
    // -------------------------

    #{$use-prefix}btn-block {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        @include box-sizing(border-box);
    }

    // Vertically space out multiple block buttons
    #{$use-prefix}btn-block + #{$use-prefix}btn-block {
        margin-top: 5px;
    }

    // Specificity overrides
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        &#{$use-prefix}btn-block {
            width: 100%;
        }
    }

    // Button Styles
    #{$use-prefix}btn-inverse   { @include button-gradient($btn-type, $btn-inverse-color); }
    #{$use-prefix}btn-primary   { @include button-gradient($btn-type, $btn-primary-color); }
    #{$use-prefix}btn-danger    { @include button-gradient($btn-type, $btn-error-color); }
    #{$use-prefix}btn-warning   { @include button-gradient($btn-type, $btn-warning-color); }
    #{$use-prefix}btn-highlight { @include button-gradient($btn-type, $btn-highlight-color); }
    #{$use-prefix}btn-info      { @include button-gradient($btn-type, $btn-info-color); }
    #{$use-prefix}btn-success   { @include button-gradient($btn-type, $btn-success-color); }

    // Link buttons
    // --------------------------------------------------

    // Make a button look and behave like a link
    #{$use-prefix}btn-link,
    #{$use-prefix}btn-link:active,
    #{$use-prefix}btn-link[disabled] {
        background-color: transparent;
        background-image: none;
    }
    #{$use-prefix}btn-link {
        border-color: transparent;
        cursor: pointer;
        color: $white;
    }
    #{$use-prefix}btn-link:hover,
    #{$use-prefix}btn-link:focus {
        color: $link-color-hover;
        text-decoration: underline;
        background-color: transparent;
    }
    #{$use-prefix}btn-link[disabled]:hover,
    #{$use-prefix}btn-link[disabled]:focus {
        color: $gray-dark;
        text-decoration: none;
    }

}
