//
// Grids
// --------------------------------------------------

@if $use-grid-classes == true {

    // Base
    // -------------------------------

    #{$use-prefix}#{$class-container} {
        @include container;
    }

    #{$use-prefix}#{$class-row} {
        @include row;
    }

    @for $i from 1 through $columns {
        #{$use-prefix}#{$class-column}#{$i} {
            @include column($i)
        }
    }

    // Grid Positioning
    // -------------------------------

    // First Column
    #{$use-prefix}first,
    #{$use-prefix}alpha { @include alpha; }

    // Last Column
    #{$use-prefix}last,
    #{$use-prefix}omega { @include omega; }


    @if $use-grid-offset == true {


        // Add Columns of empty space as margin before an element.
        @for $i from 1 through ($columns) {
            #{$use-prefix}#{$class-push}#{$i} {
                @include push($i);
            }
        }

        // Add Columns of empty space as margin after an element.
        @for $i from 1 through ($columns) {
            #{$use-prefix}#{$class-pull}#{$i} {
                @include pull($i);
            }
        }

        // Add Columns of empty space as margin after and before an element.
        @for $i from 1 through ($columns) {
            #{$use-prefix}#{$class-squish}#{$i} {
                @include squish($i);
            }
        }

        #{$use-prefix}centered {
            float: none;
            display: block;
            margin: 0px auto;
        }

    }

}
