
@if $use-icons == true {

    i {
        @if $use-animations == true {
            @include transition(all linear 0.2s);
        }
    }

    // Initial Styles
    // ----------------------------
    [class^="icon-"],
    [class*=" icon-"] {
        font-family: $font-name;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @if $legacy-support == true {
            *margin-right: .3em;
        }
    }
    [class^="icon-"]:before,
    [class*=" icon-"]:before {
      text-decoration: inherit;
      display: inline-block;
      speak: none;
  }

    // makes sure icons active on rollover in links
    a {
        [class^="icon-"],
        [class*=" icon-"] {
            display: inline;
        }
    }

    // increased font size for icon-large
    [class^="icon-"],
    [class*=" icon-"] {
        &#{$use-prefix}icon-fixed-width {
            display: inline-block;
            width: (16em/14);
            text-align: right;
            padding-right: (4em/14);
            &#{$use-prefix}icon-large {
                width: (20em/14);
            }
        }
    }

    [class^="icon-"],
    [class*=" icon-"] {
        &.hide {
            display: none;
        }
    }

    // Icon States
    // ----------------------------
    @if $icons-states == true {
        #{$use-prefix}icon-muted  { color: $icon-muted; }
        #{$use-prefix}icon-light  { color: $icon-light; }
        #{$use-prefix}icon-dark   { color: $icon-dark; }
        #{$use-prefix}icon-border {
            border: solid 1px $icon-border;
            padding: .2em .25em .15em;
            @include border-radius(3px);
        }
    }

    // Icon Sizes
    // ----------------------------
    @if $icons-sizes == true {

        #{$use-prefix}icon-2x {
            font-size: 2em;
            &#{$use-prefix}icon-border {
                border-width: 2px;
                @include border-radius($icons-radius);
            }
        }
        #{$use-prefix}icon-3x {
            font-size: 3em;
            &#{$use-prefix}icon-border {
                border-width: 3px;
                @include border-radius($icons-radius + 2);
            }
        }
        #{$use-prefix}icon-4x {
            font-size: 4em;
            &#{$use-prefix}icon-border {
                border-width: 4px;
                @include border-radius($icons-radius + 3);
            }
        }

        #{$use-prefix}icon-5x {
            font-size: 5em;
            &#{$use-prefix}icon-border {
                @include border-radius($icons-radius + 5);
            }
        }

    }

    // Glyphos
    // ----------------------------
    @include font-face($font-name, $font-path);


    ///////////////////////////////////////////////////////////////////////////////////////////////
    //                                                                                           //
    //                             PUT YOUR GENERATED ICONS ABOVE                                //
    //                                                                                           //
    ///////////////////////////////////////////////////////////////////////////////////////////////


}
