//
// Responsive Utility Classes
// --------------------------------------------------

@if $use-responsive == true {

    // IE10 Metro responsive
    // Required for Windows 8 Metro split-screen snapping with IE10
    // Source: http://timkadlec#{$use-prefix}com/2012/10/ie10-snap-mode-and-responsive-design/
    @-ms-viewport{
        width: device-width;
    }

    // Helper Classes
    #{$use-prefix}visible-phone     { display: none !important; }
    #{$use-prefix}visible-tablet    { display: none !important; }

    #{$use-prefix}hidden-phone      { }
    #{$use-prefix}hidden-tablet     { }

    #{$use-prefix}hidden-desktop    { display: none !important; }
    #{$use-prefix}visible-desktop   { display: inherit !important; }

    #{$use-prefix}visible-print    { display: none !important; }
    #{$use-prefix}hidden-print     { }

    @media print {
        #{$use-prefix}visible-print  { display: inherit !important; }
        #{$use-prefix}hidden-print   { display: none !important; }
    }


    @include respond-to(mobile) {

        // Helper Classes
        #{$use-prefix}hidden-desktop  { display: inherit !important; }
        #{$use-prefix}visible-desktop { display: none !important; }

        #{$use-prefix}hidden-tablet   { display: inherit !important; }
        #{$use-prefix}visible-tablet  { display: none !important; }

        #{$use-prefix}hidden-phone    { display: none !important; }
        #{$use-prefix}visible-phone   { display: inherit !important; }

        // General Structure
        body {
            @if $use-container-gutter == true {
                padding-left: $container-gutter;
                padding-right: $container-gutter;
            }
            @else {
                padding-left: 0;
                padding-right: 0;
            }
        }

        // Grid System
        @if $use-grid-classes == true {

            #{$use-prefix}row {
                width: 100%;
            }
            [class*="span"],
            #{$use-prefix}row [class*="span"] {
                float: none;
                display: block;
                width: 100%;
                margin-left: 0;
                @include box-sizing(border-box);
            }
            #{$use-prefix}span12,
            #{$use-prefix}row > #{$use-prefix}span12 {
                width: 100%;
                @include box-sizing(border-box);
            }
            #{$use-prefix}row [class*="push"]:first-child {
                margin-left: 0;
            }

        }

        // Form and Inputs
        @if $use-forms == true {

            textarea,
            #{$all-text-inputs},
            input#{$use-prefix}input-mini,
            input#{$use-prefix}input-small,
            input#{$use-prefix}input-medium,
            input#{$use-prefix}input-large,
            textarea#{$use-prefix}input-mini,
            textarea#{$use-prefix}input-small,
            textarea#{$use-prefix}input-medium,
            textarea#{$use-prefix}input-large,
            input[class*="span"],
            select[class*="span"],
            textarea[class*="span"] {
                @include input-size(full);
            }

        }

        input[type="checkbox"],
        input[type="radio"] {
            border: 1px solid $gray-lighter;
        }

    }

    @include respond-to(tablet) {

        // General Structure
        body {
            @if $use-container-gutter == true {
                padding-left: $container-gutter;
                padding-right: $container-gutter;
            } @else {
                padding-left: 0;
                padding-right: 0;
            }
        }

        // Helper Classes
        #{$use-prefix}hidden-desktop  { display: inherit !important; }
        #{$use-prefix}visible-desktop { display: none !important; }

        #{$use-prefix}hidden-tablet   { display: none !important; }
        #{$use-prefix}visible-tablet  { display: inherit !important; }

        #{$use-prefix}hidden-phone    { display: inherit !important; }
        #{$use-prefix}visible-phone   { display: none !important; }

    }


    @include respond-to(tvscreen) {

        // Helper Classes
        #{$use-prefix}hidden-desktop    { display: none !important; }
        #{$use-prefix}visible-desktop   { display: inherit !important ; }

        #{$use-prefix}visible-tablet    { display: none !important; }
        #{$use-prefix}visible-phone     { display: none !important; }

        #{$use-prefix}hidden-tablet     { display: none !important; }
        #{$use-prefix}hidden-phone      { display: none !important; }

    }

}
