
//
// Types Utility Classes
// --------------------------------------------------

@if $use-types == true {

    // Headings
    #{$use-prefix}big-title {
        margin-bottom: $base-line-height;
        font-size: $base-font-size * 1.5;
        font-weight: 100;
        line-height: $base-line-height * 1.5;
    }
    #{$use-prefix}normal-title {
        font-size: $base-font-size * 2;
        font-weight: 300;
        padding-bottom: ($base-line-height / 2) - 1;
        margin: $base-line-height 0 ($base-line-height * 1.5);
    }
    #{$use-prefix}small-title {
        font-size: $base-font-size - 4;
        font-weight: 400;
        padding-bottom: ($base-line-height / 2) - 2;
        margin: $base-line-height 0 ($base-line-height * 1.25);
    }

    // Paragraphs
    #{$use-prefix}text-left    { text-align: left; }
    #{$use-prefix}text-center  { text-align: center; }
    #{$use-prefix}text-right   { text-align: right; }
    #{$use-prefix}text-justify { text-align: justify; }

    #{$use-prefix}font-lighter { font-weight: 300; }
    #{$use-prefix}font-normal  { font-weight: normal; }
    #{$use-prefix}font-bold    { font-weight: bold; }
    #{$use-prefix}font-bolder  { font-weight: bolder; }

    #{$use-prefix}text-upper { text-transform: uppercase; }
    #{$use-prefix}text-lower { text-transform: lowercase; }

    #{$use-prefix}text-underline { border-bottom: 1px solid; }
    #{$use-prefix}text-highlight { background: #ffc; }

    #{$use-prefix}text-white { color: $white; }
    a#{$use-prefix}text-white:hover { color: darken($white, 10%); }

    #{$use-prefix}text-muted { color: darken($gray-light, 20%); }
    a#{$use-prefix}text-muted:hover { color: darken($gray-light, 30%); }

    #{$use-prefix}text-warning { color: $color-warning; }
    a#{$use-prefix}text-warning:hover { color: darken($color-warning, 10%); }

    #{$use-prefix}text-error { color: $color-error; }
    a#{$use-prefix}text-error:hover { color: darken($color-error, 10%); }

    #{$use-prefix}text-info { color: $color-info; }
    a#{$use-prefix}text-info:hover { color: darken($color-info, 10%); }

    #{$use-prefix}text-success { color: $color-success; }
    a#{$use-prefix}text-success:hover { color: darken($color-success, 10%); }

}
